.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: rgb(83, 15, 57);
    padding: 10px;
  }
  
  .grid-container > div {
    background-color:rgb(83, 15, 57);
  }
  
  .item1 {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .item5 {
    grid-row-start: 2;
    grid-row-end: 4;
  }

  @media (max-width: 800px) {
    .grid-container {
      grid-template-columns: none;
    }
  }
  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: none;
    }
  }
  @media (max-width: 480px) {
    .grid-container {
      grid-template-columns: min-content;
    }
  }